.table-btn{
    background-color: green;
    color: white;
    padding:1rem;
    font-family: inherit;
    font-weight:bold;
    margin:1rem;
    border:2px solid ;
}
.table-btn:hover{
    border-color: green;
    color: green;
    background-color: yellowgreen;
}

.addtask{
    padding: 10px;
    margin-bottom: 10px;
    color:black ;
}